@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;800&display=swap");
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%); /*bg-gradient*/
  --soft-blue: hsl(240, 73%, 65%); /*bg-gradient*/

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --footer-link: hsl(229, 27%, 92%);

  --font: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.328rem;
}
h6 {
  font-size: 1.072rem;
}
p,
a {
  font-size: 1.5rem;
}
a,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body,
main {
  width: 100%;
}

html,
body,
.faq-section {
  height: 100%;
}

body {
  max-width: 144rem;
height:100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(
    
    var(--soft-violet),
    hsla(257, 74%, 65%, 1),
    var(--soft-blue)
  );
background-repeat:no-repeat;

  margin: 0 auto;

}
main,
.faq-section,
.question-title {
  display: flex;
  justify-content: space-between;
}
main {
  position: relative;
  padding: 1rem;
  align-items: center;
  min-height: 26rem;
  max-width: 92rem;
  background: url(../images/bg-pattern-desktop.svg) no-repeat -11rem -0.9000000000000004rem,
    url(../images/illustration-woman-online-desktop.svg) no-repeat -6.800000000000001rem
      6.399999999999999rem;
  background-size: 60%, 60%;
  background-color: #fff;
  border-radius: 2rem;
  margin: 5% auto 0 auto;
}

.box {
  position: absolute;
  width: 16rem;
  height: 16rem;
  left: -6.300000000000001rem;
  top: 22.7rem;
}
.img-section {
  width: 50%;
  height: 40rem;
}
.faq-section {
  width: 50%;
}
.img-section {
  position: relative;
}

.faq-section {
  height: auto;
  flex-direction: column;
  padding: 4rem;
}
.question {
  min-height: 5rem;
  border-bottom: 0.1rem solid gray;
}
.question-title {
  align-items: start;
}
.question-title_text {
  font-size: 1.6rem;
  font-weight: lighter;
  color: var(--very-dark-grayish-blue);
}
.question-title_arrow img {
  width: 1rem;
  margin-top: 1rem;
}
.question-title:hover,
.question-title_text:hover {
  cursor: pointer;
}
.question-title_text:hover {
  color: var(--soft-red);
}
.answer {
  display: none;
  padding: 1rem 0;
  color: var(--dark-grayish-blue);
  font-size: 1.39rem;
  line-height: 1.5;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: var(--footer-link);
}
.show {
  display: block;
}
.arrow-down {
  width: 2.5rem;
}
@media screen and (max-width: 870px) {
  main {
    flex-direction: column;
    max-width: 35rem;
    background: url(../images/bg-pattern-mobile.svg) no-repeat 0 13rem,
      url(../images/illustration-woman-online-mobile.svg) no-repeat 0 0;
    background-size: 100%, 100%;
    background-color: #fff;
  }
  .img-section {
    height: 25rem;
  }
  .img-section,
  .faq-section {
    width: 100%;
  }
  .faq-section {
    padding: 1rem;
  }
  .img-section:first-child {
    width: 100%;
    left: 0;
  }
  .box {
    display: none;
  }
}
